<footer class="footer">
  <div class="container">
    <div class="logos">
      <img src="/base/images/deputacion_de_granada.svg">
      <img src="/base/images/policia_espana.svg">
      <img src="/base/images/maetd.png">
      <img src="/base/images/ue.png">
    </div>
    <div class="footer-links">
      <ul>
          <li><a href="#">Contacto</a></li>
          <li><a href="#">Información Legal</a></li>
          <li><a href="#">Política de Privacidad</a></li>
      </ul>
    </div>
  </div>
</footer>
<div class="bottom-end">
<div class="container d-flex">
  <div class="left">
    <img src="/base/images/icon-granada-black.svg" alt="Logo Icon - Granada">
    <div class="copyright">
      @2022 Todos los derechos reservados a <span class="granada-style-footer">Granada</span>
    </div>
  </div>
  <div class="right">
    Made by <strong>ubiwhere</strong>
  </div>
</div>
</div>